.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table-header,
.table-row {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 16px;
}

.table-header {
  font-weight: 500;
  color: var(--primary-text);
  min-height: 56px;
}

.table-cell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  color: var(--primary-text);
}

.table-cell.rank-wrap {
  width: 390px;
  justify-content: flex-start;
  gap: 16px;
}

.table-cell.rank{
  width: 40px;  
  justify-content: center;
}

.table-cell.img {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* 또는 9999px */
  overflow: hidden;   /* 둥근 영역 밖은 가림 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-cell.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.table-cell.name {
  width: 280px;
}

.table-cell.price,
.table-cell.change,
.table-cell.marketcap,
.table-cell.weight {
  width: 170px;
  justify-content: flex-end;
}

.table-row:hover {
  background: var(--light-hover);
}
